@font-face {
    font-family: 'muli';
    src: url(Fonts/muli.regular.ttf)
}

body {
    background-color: #F0E2D8 ;
    margin: 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 50px 50px;
}

.main-navigation a {
    padding-left: 20px;
    margin-top: 20px;
    font-family: 'muli';
    text-decoration: none;
    color: #000000;   
}

.page-header-container a:hover {
    text-decoration: underline;
    text-decoration-color: #D1781F;
}

.heading-container {
    display: flex;
    flex-direction: row;
    margin: 0 50px 400px;
}

.portfolio-heading-container {
    margin: 0 50px 90px;
}

.portfolio-heading {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}

.my-work {
    transition: transform .5s;
    width: 33%;
    text-align: center;
}

.my-work :hover {
    transform: scale(1.2);
}

.front-page-title {
    width: 50%;
    font-family: 'muli';
    font-size: 100px;
}

.profil-picture {
    border: 2px solid #000000;
    margin-top: 150px;
    width: auto;
}

p, a {
    font-family: 'Hiragino Mincho ProN', 'Times New Roman', Times, serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

#portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 30px;
}

.portfolio-grid-img {
    border: #000000 1px solid;
}

.page-footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #000000;
    width: 100%;
    height: 300px;
}

.subtitle-footer {
    font-family: 'Hiragino Mincho ProN', 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
}

.page-footer small {
    font-family: 'muli';
    color: #ffffff;
    text-align: center;
}

